@page "/edit"

@using BeeFat.Domain.Infrastructure
@inherits LayoutComponentBase

@inject HomeHelper HomeHelper

<PageTitle>TrackEditor</PageTitle>

<!DOCTYPE html>

<div class="container">
    <div class="home-sidebar">
        <h2>Дни недели</h2>
        <ul>
            <li> <button class="day-of-week"> Понедельник </button></li>
            <li> <button class="day-of-week"> Вторник </button></li>
            <li> <button class="day-of-week"> Среда </button></li>
            <li> <button class="day-of-week"> Четверг </button></li>
            <li> <button class="day-of-week"> Пятница </button></li>
            <li> <button class="day-of-week"> Суббота </button></li>
            <li> <button class="day-of-week"> Воскресенье </button></li>
        </ul>
    </div>

    <div class="main-content">
        <h2 class="track-header">
            Заголовок трека
        </h2>
       <div class="daily-plan">
           <ul class="daily-food-list product-list">
              <li>
                      <div>Название продукта</div>
                      <div>Масса</div>
                      <div>Белки</div>
                      <div>Жиры</div>
                      <div>Углеводы</div>
                      <div>Калории</div>
                  </li>
               @{
                   foreach (var product in HomeHelper.GetProductsByDay(DayOfWeek.Tuesday))
                   {
                       var foodInfo = product.Food.Macronutrient;
                       <li>
                           <div>@product.Name</div>
                           <div><span class="portion-size">@String.Format("{0} {1}", product.PortionSize, (product is FoodProductGram) ? "г" : "шт")</span></div>
                           <div><span class="portion-size">@foodInfo.Proteins г</span></div>
                           <div><span class="portion-size">@foodInfo.Fats г</span></div>
                           <div><span class="portion-size">@foodInfo.Carbohydrates г</span></div>
                           <div><span class="portion-size">@foodInfo.Calories ккал</span></div>
                           <button class="action-button edit-button">Изменить</button>
                           <button class="action-button delete-button">Удалить</button>
                       </li>
                   }
               }
           </ul>

           <button class="action-button add-product"><span>+</span></button>
       </div>
    </div>
      
    <div class="home-sidebar">
        <div class="user">
            <div class="user-info">
                <img src="avatar.jpg">
                <span class="username">Пользователь</span>
            </div>
            <button class="action-button">Выйти</button>
        </div>
        <div class="parameters">
            <h3>Параметры</h3>
            <p>Масса: <span class="parameter">xxx кг</span></p>
            <p>Рост: <span class="parameter">xxx см</span></p>
            <p>Желаемые калории: <span class="parameter">xxx ккал</span></p>
        </div>
        </div>
</div>