@page "/track/pick"

@inherits LayoutComponentBase
@using Blazorise
@using BeeFat.Domain.Infrastructure
@using BeeFat.Helpers
@inject TrackPickHelper TrackPickHelper;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@{
    var user = TrackPickHelper.User;
}


<Blazorise.Modal @ref="TrackPickHelper.MyModal" Title="Modal title" Class="popup_window">
    <div>
        @if (!(TrackPickHelper.SelectedTrack is null))
        {
            <div>Вы уверены, что хотите поменять трек @user.Track.Name на @TrackPickHelper.SelectedTrack.Name ?</div>
            <Blazorise.Button Style="background-color: #c2cb88;" @onclick="() => { TrackPickHelper.Save(); TrackPickHelper.MyModal.Close(CloseReason.UserClosing);}">Да</Blazorise.Button>
        }
    </div>
</Blazorise.Modal>


<div class="container">
    <div class="home-sidebar">
        <h2>Текущий трек - @user.Track.Name</h2>
    </div>

    <div class="main-content">
        <div class="daily-plan">
            <h2>Доступные треки</h2>
            <input type="text" value="@searchValue" @oninput="OnSearchValueChanged" />
            <div>
                @{
                    foreach (var currentTrack in tracks)
                    {
                        <div>
                            <button class="select-track" @onclick="() => { TrackPickHelper.ChangeSelectedTrack(currentTrack); TrackPickHelper.MyModal.Show(); }">@currentTrack.Name</button>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    <div class="home-sidebar">
        <div class="user">
            <div class="user-info">
                <img src="avatar.jpg">
                <span class="username">@user.PersonName.FirstName @user.PersonName.LastName</span>
            </div>
            <button class="action-button">Выйти</button>
        </div>
        <div class="parameters">
            <h3>Параметры</h3>
            <p>Масса: <span class="parameter">@user.Weight кг</span></p>
            <p>Рост: <span class="parameter">@user.Height см</span></p>
            <p>Желаемые калории: <span class="parameter">@user.RightCalories ккал</span></p>
        </div>
    </div>
</div>

@code {
    private string searchValue;
    private IEnumerable<Track> tracks;

    protected override void OnInitialized()
    {
        tracks = TrackPickHelper.TrackRepository.GetCollection(_ => true);
    }

    private void OnSearchValueChanged(ChangeEventArgs e)
    {
        searchValue = e.Value.ToString();
        tracks = TrackPickHelper.TrackRepository.GetCollection(t => t.Name.ToLower().Contains(searchValue.ToLower()));
        StateHasChanged();
    }
}