@page "/edit"

@using BeeFat.Domain.Infrastructure
@using BeeFat.Helpers
@inherits LayoutComponentBase

@inject HomeHelper HomeHelper;
@inject TrackEditorHelper TrackEditorHelper;

@rendermode InteractiveServer

<PageTitle>TrackEditor</PageTitle>

<!DOCTYPE html>

@{
    HomeHelper.FetchUserInfo();
    var user = HomeHelper.User;
    var track = user.Track;
}

<Blazorise.Modal @ref="TrackEditorHelper.ConfirmModal" Title="Modal title" Class="popup_window">
    <div>
        @if (!(TrackEditorHelper.SelectedFoodProduct is null))
        {
            <div>Введите новый размер порции (в @(TrackEditorHelper.SelectedFoodProduct is FoodProductGram ? "гр" : "шт"))</div>
            // portionSize = selectedFoodProduct.PortionSize;
            <input @bind="TrackEditorHelper.PortionSize"/>
            <div>
                <Blazorise.Button Style="background-color: #c2cb88;" @onclick="() => { TrackEditorHelper.ChangePortionSize(); StateHasChanged(); }" >Сохранить</Blazorise.Button>
            </div>
        }
    </div>
</Blazorise.Modal>

@* <Blazorise.Modal @ref="AddProductModal" Title="Modal title" Class="popup_window"> *@
@*     <div> *@
@*         <input type="text" value="@searchValue" @oninput="OnSearchValueChanged"/> *@
@*     </div> *@
@* </Blazorise.Modal> *@


<div class="container">
    <div class="home-sidebar">
        <h2>Дни недели</h2>
        <ul>
            <li>
                <button class="day-of-week"> Понедельник </button>
            </li>
            <li>
                <button class="day-of-week"> Вторник </button>
            </li>
            <li>
                <button class="day-of-week"> Среда </button>
            </li>
            <li>
                <button class="day-of-week"> Четверг </button>
            </li>
            <li>
                <button class="day-of-week"> Пятница </button>
            </li>
            <li>
                <button class="day-of-week"> Суббота </button>
            </li>
            <li>
                <button class="day-of-week"> Воскресенье </button>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <h2 class="track-header">
            @track.Name
        </h2>
        <div class="daily-plan">
            <ul class="daily-food-list product-list">
                <li>
                    <div>Название продукта</div>
                    <div>Масса</div>
                    <div>Белки</div>
                    <div>Жиры</div>
                    <div>Углеводы</div>
                    <div>Калории</div>
                    <div>Действие</div>
                </li>
                @{
                    foreach (var product in TrackEditorHelper.GetProductsByDay(user.Track.FoodProducts))
                    {
                        var foodInfo = product.Food.Macronutrient * product.PortionCoeff;
                        <li>
                            <div>@product.Name</div>
                            <div>
                                <span class="portion-size">@String.Format("{0} {1}", product.PortionSize, (product is FoodProductGram) ? "г" : "шт")</span>
                            </div>
                            <div>
                                <span class="portion-size">@foodInfo.Proteins г</span>
                            </div>
                            <div>
                                <span class="portion-size">@foodInfo.Fats г</span>
                            </div>
                            <div>
                                <span class="portion-size">@foodInfo.Carbohydrates г</span>
                            </div>
                            <div>
                                <span class="portion-size">@foodInfo.Calories ккал</span>
                            </div>
                            <Button class="action-button edit-button" @onclick="() => {
                                                                          // TrackEditorHelper.SelectedFoodProduct = product; TrackEditorHelper.ConfirmModal.Show();
                                                                           }">Изменить</Button>
                            <Button class="action-button delete-button" @onclick="() => {
                                                                            // TrackEditorHelper.TrackRepository.DeleteFoodProductFromTrack(track, product);
                                                                             }">Удалить</Button>
                        </li>
                    }
                }
            </ul>

            <button class="action-button add-product" @onclick="() => { TrackEditorHelper.AddProductModal.Show(); }">
                <span>+</span>
            </button>
        </div>
    </div>

    <div class="home-sidebar">
        <div class="user">
            <div class="user-info">
                <img src="avatar.jpg">
                <span class="username">@user.PersonName.FirstName @user.PersonName.LastName</span>
            </div>
            <button class="action-button">Выйти</button>
        </div>
        <div class="parameters">
            <h3>Параметры</h3>
            <p>Масса: <span class="parameter">xxx кг</span></p>
            <p>Рост: <span class="parameter">xxx см</span></p>
            <p>Желаемые калории: <span class="parameter">xxx ккал</span></p>
        </div>
    </div>
</div>